html {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1rem;
    height: 2rem;
}

nav a {
    font-size: 20px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: -0.3rem;
    left: -3rem;
}

nav li {
    display: inline;
    margin-left: 0.5rem;
}

.cart {
    font-size: 20px;
    text-decoration: none;
    margin-right: 0.5rem;
    display: inline;
}

.cart ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    right: 1rem;   
}

.small-pot {
    display: flex;
    justify-content: center; 
}
.small-pot img {
    position: absolute;
    margin-top: -0.5rem;
    width: 2.5rem;
    
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.section-wrapper-home img{
    width: 100%;
    height: 100%;
    
}

.section-wrapper-home{
    position: relative;
    text-align: center;
    color: white;
    font-size: 21px;
}
.top-left{
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.bottom-right{
    position:absolute;
    bottom: 3rem;
    right: 2rem;
}

.section-wrapper-about{
    margin-top: 5rem;
    height: 650px;
    width: 100%;

}

h1 {
    float: left;
}

.right-photo img{
    float: right;
    max-width: 300px;
    height: auto;  
}

.left-photo img{
    float: left;
    max-width: 300px;
    height: auto;  
}

.section-wrapper-about p {
    margin: 1rem auto;
    width: 80%;
}

.section-wrapper-products {
   height: 1850px;
   width: 100%;
}
.title {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
}

.flex-container {
    display: grid;
    grid-template-areas: 
    "to-l top top-r"
    "mid-l mid mid-r"
    "bot-l bot bot-r";
}

.image-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 16rem;
    margin: 10px;
    text-align: left;  
}

.image-container img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid black;
}
.price{
    color: black;
    font-size: 22px;
    text-align: right;
    }
.image-container button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #bf7631;
    width: 115px;
    font-size: 12px;
    }
.image-container a {
    color: #bf7631;
}


